<html>
  <head>
    <title>Questionnaire</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Style sheet (CSS) and JavaScript scripts necessary to use Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>    

    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
  </head>
  
  <body>
	
	<div class="container-md p-3 my-3 border bg-dark text-white" id="survey">
    <h1>Survey</h1>
    <form>
      <h2> What fruits(s) do you like? </h2>
      I like:<br>
      <input type="text" name="fruit" placeholder="fruit name..." required />
      <br>
      <br>
      <h2> What color(s) do you like? </h2>
	    I like:<br>
		  <input type="checkbox" name="color" value="Red"> Red<br>
		  <input type="checkbox" name="color" value="Green"> Green<br>
      <input type="checkbox" name="color" value="Blue"> Blue<br>
      <br>
      <h2>What is your favorite animal?</h2>
      I like:<br>
      <select name="animal">
			  <option value="Cat" selected="selected">Cat</option>
			  <option value="Dog">Dog</option>
			  <option value="Turtle">Turtle</option>
      </select>
      <br>
      <br>
		<h2>What would be your dream car?</h2>
		<select name="car">
			<option value="Ferrari" selected="selected">Ferrari</option>
			<option value="Mercedes-Benz">Mercedes-Benz</option>
			<option value="Maserati">Maserati</option>
			<option value="Bentley">Bentley</option>
			<option value="Ford">Ford</option>
		</select>
		<br>
		<br>
		<h2>What is your favorite sport?</h2>
		<div>
			<input type="radio" name="sports" value="Soccer" checked="checked">Soccer<br>
			<input type="radio" name="sports" value="Football">Football<br>
			<input type="radio" name="sports" value="Rugby">Rugby<br>
			<input type="radio" name="sports" value="Lacrosse">Lacrosse<br>
			<input type="radio" name="sports" value="Hockey">Hockey<br>
		</div>
		<br><br>
		<h2>What are your favorite cheeses?</h2>
		<div>
			<input type="checkbox" name="cheese" value="Cheddar">Cheddar<br>
			<input type="checkbox" name="cheese" value="Gouda">Gouda<br>
			<input type="checkbox" name="cheese" value="Mozzarella">Mozzarella<br>
			<input type="checkbox" name="cheese" value="Parmigiano-Reggiano">Parmigiano-Reggiano<br>
			<input type="checkbox" name="cheese" value="American">American<br>
		</div>
      <button type="submit" class="btn btn-warning" id="bb">Submit</button>
      <p id="thanks"></p>
    </form>
    </div>
	<script src="/assets/action.js"></script>
  </body>
</html> 